body{
    background: lightgrey;
    }
.titulo{
    background: white;
    margin: auto;
    margin-top: 10%;
}
.ig-post{
    width: 465px;
    height: 600px;
    background: white;
    margin: auto;
    margin-top: 10%;
}
.encabezado{
    height: 55px;
    display: flex; justify-content: space-between; align-items: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.photo{
    height: 350px;
    background-image: url("https://fastly.picsum.photos/id/872/200/200.jpg?hmac=m0AwAUFkEiEz2KW58n6a5RVkKaClHNylfppYjE3a0v4");
    background-size:cover;
}
.comment{
    height: 280px;
    width: 450px;
    margin: auto;
}